TMD.SSIS/ImportLookupData/states.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="states">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="add">
          <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="optional" />
            <xs:attribute name="name" type="xs:string" use="optional" />
            <xs:attribute name="countryCode" type="xs:string" use="optional" />
            <xs:attribute name="ne" type="xs:string" use="optional" />
            <xs:attribute name="sw" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>